APP_URL=http://localhost:3333
NODE_ENV=development

# Auth

APP_SECRET=desafiobootcampgympoint

# Database

DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# MAil
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=

# Sentry

SENTRY_DSN=https://1f38ebd84f634bb2b1570e843efa5ee8@sentry.io/1869005
