<strong>Olá, {{ student }}</strong>
<p>Sua matrícula foi confirmada com sucesso.</p>
<p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Témino em: </strong> {{ endDate }} <br />
  <strong>Total: </strong> {{ price }} <br />
  <br />
  <strong>
    Sejá muito bem-vindo!
  </strong>
</p>
